@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

body {
  margin: 0;
  background-color: gray;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.buttons-Wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgb(53, 52, 52);
  border-radius: 0 0 15px 15px;
  border: 1px solid;
  border-top: 0;
}

.header-Wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 5%;
}

.header-Wrapper .post-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 15px;
  align-items: center;
  width: 50%;
}

.header-Wrapper .post-Wrapper .post-Img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.header-Wrapper .post-Wrapper .text-Wrapper {
  padding: 15px;
}

.header-Wrapper .post-Date-By {
  width: 95%;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .header-Wrapper .post-Wrapper {
    width: 100%;
  }

  .header-Wrapper .post-Wrapper .text-Wrapper {
    padding: 15px;
    font-size: 11px;
  }

  .header-Wrapper .post-Date-By {
    width: 90%;
    text-align: start;
    font-size: 11px;
  }
}
