@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
body {
  margin: 0;
  background-color: gray;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.buttons-Wrapper {
  display: flex;
  position: fixed;
  left: 25%;
  width: 50%;
  height: 60px;
  top: 0;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgb(53, 52, 52);
  border-radius: 0 0 15px 15px;
  border: 1px solid;
  border-top: 0;
  padding: 5px;
}
.buttons-Wrapper .favo-btn,
.buttons-Wrapper .load-more {
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  border: 1px solid;
  width: 100px;
  height: 25px;
  color: black;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 500;
}
.buttons-Wrapper .favo-btn:hover,
.buttons-Wrapper .load-more:hover {
  background-color: rgb(124, 121, 121);
  color: white;
  width: 103px;
  height: 26px;
}
.buttons-Wrapper .favo-btn:active,
.buttons-Wrapper .load-more:active {
  background-color: rgb(233, 228, 228);
  color: rgb(51, 50, 50);
  width: 100px;
  height: 25px;
}

.loading-Animation,
.loading-Animation-Favo {
  position: fixed;
  left: 15%;
  top: 25%;
}

.header-Wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 5%;
}
.header-Wrapper .post-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 15px;
  align-items: center;
  width: 50%;
}
.header-Wrapper .post-Wrapper .post-Img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.header-Wrapper .post-Wrapper .text-Wrapper {
  padding: 15px;
}
.header-Wrapper .post-Wrapper .add-Faov-Btn {
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  border: 1px solid;
  width: 120px;
  height: 25px;
  color: black;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.header-Wrapper .post-Wrapper .add-Faov-Btn:hover {
  background-color: rgb(124, 121, 121);
  color: white;
  width: 122px;
  height: 26px;
}
.header-Wrapper .post-Wrapper .add-Faov-Btn:active {
  background-color: rgb(233, 228, 228);
  color: rgb(51, 50, 50);
  width: 120px;
  height: 25px;
}
.header-Wrapper .post-Date-By {
  width: 95%;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .header-Wrapper .buttons-Wrapper {
    position: fixed;
    left: 0;
    width: 5000px;
    height: 60px;
    top: 0;
  }
  .header-Wrapper .post-Wrapper {
    width: 100%;
  }
  .header-Wrapper .post-Wrapper .text-Wrapper {
    padding: 15px;
    font-size: 11px;
  }
  .header-Wrapper .post-Date-By {
    width: 90%;
    text-align: start;
    font-size: 11px;
  }
}

.favo-Wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 5%;
}
.favo-Wrapper .post-Wrapper-favo-favo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 15px;
  align-items: center;
  width: 50%;
}
.favo-Wrapper .post-Wrapper-favo-favo .post-Img-favo-favo {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.favo-Wrapper .post-Wrapper-favo-favo .text-Wrapper-favo-favo {
  padding: 15px;
}
.favo-Wrapper .remove-Faov-Btn-favo-favo {
  background-color: rgb(238, 77, 77);
  border-radius: 15px;
  border: 1px solid;
  width: 120px;
  height: 25px;
  color: rgb(255, 255, 255);
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.favo-Wrapper .remove-Faov-Btn-favo-favo:hover {
  background-color: rgb(124, 121, 121);
  color: white;
  width: 122px;
  height: 26px;
}
.favo-Wrapper .remove-Faov-Btn-favo-favo:active {
  background-color: rgb(233, 228, 228);
  color: rgb(51, 50, 50);
  width: 120px;
  height: 25px;
}
.favo-Wrapper .post-Date-By-favo-favo {
  width: 95%;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .favo-Wrapper .post-Wrapper-favo-favo {
    width: 100%;
  }
  .favo-Wrapper .post-Wrapper-favo-favo .text-Wrapper-favo-favo {
    padding: 15px;
    font-size: 11px;
  }
  .favo-Wrapper .post-Date-By-favo-favo {
    width: 90%;
    text-align: start;
    font-size: 11px;
  }
}

/*# sourceMappingURL=output.css.map */
