@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

body {
  margin: 0;
  background-color: gray;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.buttons-Wrapper {
  display: flex;
  position: fixed;
  left: 25%;
  width: 50%;
  height: 60px;
  top: 0;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: rgb(53, 52, 52);
  border-radius: 0 0 15px 15px;
  border: 1px solid;
  border-top: 0;
  padding: 5px;

  .favo-btn,
  .load-more {
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    border: 1px solid;
    width: 100px;
    height: 25px;
    color: black;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 500;

    &:hover {
      background-color: rgb(124, 121, 121);
      color: white;
      width: 103px;
      height: 26px;
    }

    &:active {
      background-color: rgb(233, 228, 228);
      color: rgb(51, 50, 50);
      width: 100px;
      height: 25px;
    }
  }
}

.header-Wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 5%;

  .post-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(32, 32, 32);
    color: white;
    border-radius: 15px;
    align-items: center;
    width: 50%;

    .post-Img {
      height: 100%;
      width: 100%;
      border-radius: 15px;
    }

    .text-Wrapper {
      padding: 15px;
    }
  }

  .post-Date-By {
    width: 95%;
    text-align: start;
  }

  @media screen and (max-width: 768px) {
    .buttons-Wrapper {
      position: fixed;
      left: 0;
      width: 5000px;
      height: 60px;
      top: 0;
    }

    .post-Wrapper {
      width: 100%;

      .text-Wrapper {
        padding: 15px;
        font-size: 11px;
      }
    }

    .post-Date-By {
      width: 90%;
      text-align: start;
      font-size: 11px;
    }
  }
}

.favo-Wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 5%;

  @media screen and (max-width: 768px) {
    .buttons-Wrapper {
      position: fixed;
      left: 0;
      width: 5000px;
      height: 60px;
      top: 0;
    }

    .post-Wrapper {
      width: 100%;

      .text-Wrapper {
        padding: 15px;
        font-size: 11px;
      }
    }

    .post-Date-By {
      width: 90%;
      text-align: start;
      font-size: 11px;
    }
  }
}
